h3{
    font-size: 15px;
    color: white;
}

.poster {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 5px;
    cursor: pointer;
}

.poster:hover{
    transform: translateY(-10px);
    /* box-shadow: 0 1rem 2rem rgba(0,0,40, 0.2); */
    box-shadow: 0 1rem 2rem rgba(138, 151, 138, 0.6);
}